@font-face {
  font-family: "moraba";
  src: url("../fonts/Morabba/woff2/Morabba-Medium.woff2") format('woff2');
  font-display: swap;
  /* IE9 Compat Modes */
}

@font-face {
  font-family: "dana";
  src: url("../fonts/Dana/woff2/DanaFaNum-Medium.woff2") format('woff2');
  font-display: swap;
  /* IE9 Compat Modes */
}

body {
  font-family: "dana";
  overflow-x: hidden;
}
